
<div class="add-item">
	<form method="POST" action="/add">
		<label>Name</label>
		<input type="text" name="name" id="name">
		<label>image link</label>
		<input type="text" name="img" id="img">
		<label>description</label>
		<input type="text" name="desc" id="desc">
		<button type="submit">Add</button>
	</form>
</div>

